{% extends 'base.html' %}

{% block content %}

<div class=" container">
    <h1>Predictive Models</h1>
    <h2>Week 1</h2>
    
        <br></br>
    
        <img src="..\static\images\Week1Array.JPG" width = 400 height= 500> 
        <img src="..\static\images\Week1Results.JPG" width = 400 height= 500> 
        <img src="..\static\images\Week1Standings.JPG" width= 400 height= 500>

        <br></br>

    <h3>Week 6</h3>

        <br></br>

        <img src="..\static\images\Week6Array.JPG" width = 400 height = 500>
        <img src="..\static\images\Week6Results.JPG" width = 400 height = 500>
        <img src="..\static\images\Week6Standings.JPG" width = 400 height = 500>

        <br></br>
        
    </div>

{% endblock %}