{% extends 'base.html' %}

{% block content %}

<div class=" container">
    <h1>SQL Queries</h1>
    <h2>2014-2023 Seasons</h2>
    
        <br></br>
    
        <img src="..\static\images\TotalWins.JPG" width = 500 height= 500> 
        <img src="..\static\images\AvgKDA.JPG" width = 500 height= 500> 
        <img src="..\static\images\Deaths.JPG" width= 500 height= 500>
        <img src="..\static\images\Assists.JPG" width= 500 height= 500>

        <br></br>

    <h3>2023 Season Only</h3>

        <br></br>

        <img src="..\static\images\2023Wins.JPG" width = 500 height = 500>
        <img src="..\static\images\2023KDA.JPG" width = 500 height = 500>
        <img src="..\static\images\2023Deaths.JPG" width = 500 height = 500>
        <img src="..\static\images\2023Assists.JPG" width = 500 height = 500>

        <br></br>
        
    </div>

{% endblock %}